/**
 * Custom CSS for DY_Documents
 */

/* You can override the default Infima variables here. */

:root {
  --ifm-color-primary: #3578e5;
  --ifm-color-primary-dark: #2e6cd1;
  --ifm-color-primary-darker: #2a64c2;
  --ifm-color-primary-light: #4a86e8;
  --ifm-color-primary-lighter: #5b93eb;
  --ifm-code-font-size: 95%;
}

[data-theme='dark'] {
  --ifm-color-primary: #4d9fff;
}